.head{
    background-image: url(s2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding:50px;
    color:rgb(28, 28, 28);
    opacity: 0.9;
 
   
}
.welcome{
    backdrop-filter: blur(5px);
    text-align: center;
    background: rgb(255, 255, 255,0.137);
    font-size: 50px;
    padding: 100px 100px 100px 100px;
}
.s2{
  
    padding: 10px;
    margin: 10px 340px 30px 340px;
}
.texts2{
    font-size:large;
}
.carven{
    padding:10px 250px 10px 250px;
}